<!-- head -->
<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/inicio.css">
<body>
    <!-- HEADER -->
    <%- include ('./partials/header') %>
   
    <hr>
    <main>
        <!-- BANNER -->
        <div class="banner">
        </div>
        <!-- SUB_TITULO -->
        <br>
        <div class="sub_titulo">
            <a href="#">
                <h2>Los destacados del mes</h2>
            </a>
        </div>
        <br>
        <br>
        <!-- ARTICULOS_UNO -->
        <section>

            <div class="articulos">
                <% destacadosMes.forEach(cualquierNombre => { %>

                <article>
                    <a href="/product/<%= cualquierNombre.id %>/detail" target="_blank">
                        <img class="imagenes_copadas" src="img/producto/<%= cualquierNombre.imagen%>" alt="Frutas">
                    </a>
                    <figcaption>
                        <h2 class="textoDesc"><%= cualquierNombre.nombreProducto%></h2> <br>
                        <h2 clas="precioDesc">$<%= cualquierNombre.precio%></h2> <br> <button class="carrito"><i
                                class="fa-solid fa-cart-shopping"></i> Agregar al Carrito <i></i></button>
                    </figcaption>
                </article>
                <% }) %>
        </section>
        <section>
            <br>
            <div class="sub_titulo">
                <a href="#">
                    <h2>Nuestros productos más elegidos</h2>
                </a>
            </div>
            <br>
            <br>
            <div class="articulos">
                <% masVisitados.forEach(cualquierNombre => { %>

                <article>
                    <a href="/product/<%= cualquierNombre.id %>/detail" target="_blank">
                        <img class="imagenes_copadas" src="img/producto/<%= cualquierNombre.imagen%>" alt="Frutas">
                    </a>
                    <figcaption>
                        <h2 class="textoDesc"><%= cualquierNombre.nombreProducto%></h2> <br>
                        <h2 clas="precioDesc">$<%= cualquierNombre.precio%></h2> <br> <button class="carrito"><i
                                class="fa-solid fa-cart-shopping"></i> Agregar al Carrito <i></i></button>
                    </figcaption>
                </article>
                <% }) %>

            </div>
        </section>
        <section>
            <br>
            <div class="sub_titulo">
                <a href="#">
                    <h2>Nuestras frutas de estación</h2>
                </a>
            </div>
            <br>
            <br>
            <div class="articulos">
                <% nuestrasFrutas.forEach(cualquierNombre => { %>

                <article>
                    <a href="/product/<%= cualquierNombre.id %>/detail" target="_blank">
                        <img class="imagenes_copadas" src="img/producto/<%= cualquierNombre.imagen%>" alt="Frutas">
                    </a>
                    <figcaption>
                        <h2 class="textoDesc"><%= cualquierNombre.nombreProducto%></h2> <br>
                        <h2 clas="precioDesc">$<%= cualquierNombre.precio%></h2> <br> <button class="carrito"><i
                                class="fa-solid fa-cart-shopping"></i> Agregar al Carrito <i></i></button>
                    </figcaption>
                </article>
                <% }) %>

            </div>
        </section>
        <section>
            <br>
            <div class="sub_titulo">
                <a href="#">
                    <h2>Nuestras riquísimas verduras</h2>
                </a>
            </div>
            <br>
            <br>
            <div class="articulos">
                <% nuestrasVerduras.forEach(cualquierNombre => { %>

                <article>
                    <a href="/product/<%= cualquierNombre.id %>/detail" target="_blank">
                        <img class="imagenes_copadas" src="img/producto/<%= cualquierNombre.imagen%>" alt="Frutas">
                    </a>
                    <figcaption>
                        <h2 class="textoDesc"><%= cualquierNombre.nombreProducto%></h2> <br>
                        <h2 clas="precioDesc">$<%= cualquierNombre.precio%></h2> <br> <button class="carrito"><i
                                class="fa-solid fa-cart-shopping"></i> Agregar al Carrito <i></i></button>
                    </figcaption>
                </article>
                <% }) %>

            </div>
        </section>
    </main>
    <!-- Newsletter -->
    <%- include ('./partials/newsletter') %>
    <!-- FOOTER -->
    <%- include ('./partials/footer') %>
</body>

</html>