<!-- head -->
<%- include ('./partials/head') %>

<body>
    <!-- HEADER -->
    <%- include ('./partials/header') %>
    <hr>
    <main>
        <!-- BANNER -->
        <div class="banner">
        </div>
        <!-- SUB_TITULO -->
        <div class="sub_titulo">
            <a href="#">
                <h2>Lo Más Destacado</h2>
            </a>
        </div>
        <br>
        <!-- ARTICULOS_UNO -->
        <section>

            <div class="articulos">
                <% products.forEach(cualquierNombre => { %>
              
                <article>
                    <a href="/product/<%= cualquierNombre.id %>/detail" target="_blank">
                        <img class="imagenes_copadas" src="img/<%= cualquierNombre.imagen%>" alt="Frutas">
                    </a>
                    <figcaption>
                        <h2><%= cualquierNombre.nombreProducto%></h2> <br>
                        <h2>$<%= cualquierNombre.precio%></h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <% }) %>
                <!-- <article>
                    <a href="/product/detalleProducto_mandarina" target="_blank"><img src="img/mandarina1.jpg" alt="verduras"></a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="/product/detalleProducto_kiwi" target="_blank"><img src="img/kiwi1.jpg" alt="Frutas"></a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="/product/detalleProducto_limon" target="_blank"><img src="img/limon1.jpg" alt="verduras"></a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="/product/detalleProducto_brocoli" target="_blank"><img src="img/banana1.jpg" alt="Frutas"></a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="/product/detalleProducto_champignon" target="_blank"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="/product/detalleProducto_lechuga" target="_blank"><img src="img/imagen de frutas.jpg" alt="Frutas"></a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="/product/detalleProducto_papa" target="_blank"><img src="img/imagen de verduras.jpg" alt="verduras"></a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <br>
            </div>

        </section> -->
        <!-- SUB_TITULO -->
        <!-- <div class="sub_titulo">
            <a href="#">
                <h2>Ofertas</h2>
            </a>
        </div>
        <br> -->
        <!-- SECCION_DOS -->
        <!-- <section>
            <div class="articulos">
                <article>
                    <a href="#" target="_blank"> <img src="img/Rucula.png" alt="Lechuga" class="product_img"> </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="#" target="_blank"> <img src="img/Rucula.png" alt="Rucula" class="product_img"> </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="#" target="_blank"> <img src="img/papa-blanca.png" alt="Papa Blanca" class="product_img">
                    </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="#" target="_blank"> <img src="img/Batatas.png" alt="Batatas" class="product_img"> </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="#" target="_blank"> <img src="img/Tomate.jpg" alt="Tomate" class="product_img"> </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="#" target="_blank"> <img src="img/Batatas.png" alt="Batatas" class="product_img"> </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="#" target="_blank"> <img src="img/Tomate.jpg" alt="Tomate" class="product_img"> </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article>
                <article>
                    <a href="#" target="_blank"> <img src="img/Tomate.jpg" alt="Tomate" class="product_img"> </a>
                    <figcaption>
                        <h2>Producto 2</h2> <br>
                        <h2>$4000</h2> <br> <button> <i class="fas fa-chevron-right"></i><i
                                class="fas fa-chevron-right"></i> Agregar al Carrito <i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </figcaption>
                </article> -->
            </div>
        </section>
    </main>
    <!-- Newsletter -->
    <%- include ('./partials/newsletter') %>
    <!-- FOOTER -->
    <%- include ('./partials/footer') %>
</body>

</html>