<!-- head -->
<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/producto.css">

<body>
    <!-- HEADER -->
    <%- include ('./partials/header') %>
    <br>
    <hr>
    <!-- ******************************SUB_TITULO*************************************** -->
    <div class="sub_titulo">
        <a href="frutas">
            <h2 class="categoria"><%= product.categories.name.toUpperCase() %> /
                <%= product.name.charAt(0).toUpperCase() + product.name.slice(1) %></h2>
        </a>
    </div>
    <br>
    <!-- *******************************ARTICULOS_UNO************************************* -->
    <div class="items">
        <div class="itemsFoto">
        <article class="productovta">
            <a href="/bananas"><img class="foto_productos" src="/img/producto/<%= product.image %>" width="300"
                    height="300" alt="Frutas"></a>
                </div>
                <div class="itemsTexto">
            <figcaption class="enlacesproductos">
                <h2 class="productos"><%= product.description %></h2> <br>
                <h2 class="precio">$<%= product.price %></h2>
                <h3 class="impuestos">Impuestos incluidos</h3>
                <br>
                <h2 class="stock"><i class="fa-solid fa-check"></i> En existencia</h2>
                
                <button class="carrito"><i
                    class="fa-solid fa-cart-shopping"></i> Agregar al Carrito <i></i></button>
            </figcaption>
            </a>

        </article>
    </div>
        <br>
    </div>
    <%- include ('./partials/footer') %>
</body>

</html>