<!-- head -->
<%- include ('../partials/head') %>
<link rel="stylesheet" href="/css/administrar.css">

<body>
  <!-- HEADER -->
  <%- include ('../partials/header') %>
  <!--Administrador de productos-->
  <br>
  <section class="row">
    <article class="col-12 ">
      <h2 class="display-4 text-white bg-info text-center pt-2">Administrador de Productos</h2>
    </article>
    <article class="col-12">
      <a href="/admin/administrar/create" class="addButton"><ion-icon name="add-circle-outline">Agregar <i class="fa-solid fa-square-plus"></i></a>
    </article>
    <article class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ver</th>
            <th scope="col">Editar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <% productos.forEach(producto => { %>
          <tr>
            <td><%= producto.id%> </td>
            <td><%= producto.name%> </td>
            <td><a href="/product/<%=producto.id%>/detail"> <i class="fa-solid fa-eye"></i> </a></td>
            <td><a href="/admin/administrar/edit/<%= producto.id%> "> <i class="fa-solid fa-pencil"></i> </a></td>
            <td>
              <form action="/admin/administrar/delete/<%= producto.id%>?_method=DELETE" method="post">
                <button type="submit" onclick="return confirm('Seguro quiere eliminar el producto <%= producto.id%>')" class="buttonAdm"> <i class="fa-solid fa-trash-can"></i> </button>
               </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </article>
  </section>
  </main>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/sweetAlert.js"></script>

</body>

</html>