<!-- head -->
<%- include ('../partials/head') %>
<link rel="stylesheet" href="/css/administrar.css">

<body>
    <!-- HEADER -->
    <%- include ('../partials/adminHeader') %>
    <!-- Cuerpo principal -->
    <section class="row">
        <article class="col-12  card">
            <div class="card-body">
                <h2 class="display-4 text-white bg-info text-center pt-2">Actualizar un Producto</h2>
            </div>
            <div class="errores">
                <ul> </ul>
            </div>
        </article>
    </section>
    <section class="bg-home pt-4">
        <div class="container">
            <div class="row">
                <div class="col-8 mx-auto bg-light ">
                    <div class="create-form">
                        <form action="/admin/administrar/edit/<%= Product.id%>?_method=PUT" method="POST" enctype="multipart/form-data" id="form">
                            <div class="form-group">
                                <label for="Nombre">Nombre:</label>
                                <input type="text" class="form-control" name="name" placeholder="Nombre" value="<%= Product.name%>" id="nombreProducto">
                            </div>
                            <div class="form-group">
                                <label for="Descripcion">Descripción:</label>
                                <input type="text" class="form-control" name="description" placeholder="Descripción" value="<%= Product.description%>" id="description">
                            </div>
                            <div class="form-group">
                                <label for="Precio">Precio:</label>
                                <input type="text" class="form-control" name="price" value="<%= Product.price%>" id="price">
                            </div>
                            <div class="form-group">
                                <label for="stock">Stock:</label>
                                <input type="text" name="stock" value="<%= Product.stock%>" id="stock">
                            </div>
                            <div class="form-group">
                                <label for="Categoría">Categoría:</label>
                                <select name="category_id" class="element" required>
                                    <option value="seleccionar" required>Seleccionar</option>
                                    <option value="1" <%=Product.category_id =="verduras" ? "selected":""%>>Verduras
                                    </option>
                                    <option value="2" <%=Product.category_id =="frutas" ? "selected":""%>>Frutas
                                    </option>
                                    <option value="3" <%=Product.category_id =="bolsones y promos" ? "selected":""%>>
                                        Bolsones y Promos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Sección">Sección:
                                    <select name="section_id" id="" required>
                                        <option value="seleccionar" required>Seleccionar</option>
                                        <option value="3" <%=Product.section_id =="nuestras verduras" ? "selected":""%>>Nuestras Verduras</option>
                                        <option value="1" <%=Product.section_id =="nuestras frutas" ? "selected":""%>>Nuestras Frutas</option>
                                        <option value="2" <%=Product.section_id =="destacado del mes" ? "selected":""%>>Destacados del mes</option>
                                        <option value="4" <%=Product.section_id =="mas visitados" ? "selected":""%>>Mas Visitados</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="descuento">Descuento:
                                    <select name="discount" class="custom-select" id="validationCustom04" required>
                                        <option disabled value="#">Seleccione un descuento"</option>
                                        <option value="0" <%=Product.discount==0 ? "selected" : null %>>Sin descuento</option>
                                        <option value="15" <%=Product.discount==15 ? "selected" : null %>>15%</option>
                                        <option value="30" <%=Product.discount==30 ? "selected" : null %>>30%</option>
                                    </select>
                                </label>
                            </div>
                            <!--Aquí solicito la imagen-->
                            <div class="custom-file">
                                <figure class="form-group">
                                    <img class="imagenes_copadas" src="/img/producto/<%= Product.image%>" alt="producto <%= Product.name%>">
                                </figure>
                                <input type="hidden" name="oldImagen" value="<%= Product.image%>">
                                <!--De esta forma logro conservar y que viaje la imagen anterior de esta forma evito que el usuario seleccione una imagen nuevamente, ( si no lo desea) -->
                                <input type="file" name="image" accept=".jpg, .jpeg, .png, .gif">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-info">Actualizar</button>
                                <a href="/admin/administrar" class="btn-danger">Volver</a>
                                
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/productEditValidation.js"></script>
</body>
<%- include ('../partials/footer') %>
</html>