<!-- head -->
<%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/register.css">

    <body>
        <!-- HEADER -->
        <%- include ('../partials/header') %>
            <br>
            <hr>
            <main class="register">

                <div class="registrarse">Registrate por única vez</div>

                <h4 class="compra">Comprá en Nuestra Huerta y llevá el control de tus pedidos en forma rápida</h4>

                <div class="form1">
                    <form action="/user/register" method="POST" enctype="multipart/form-data">
                        <br>

                        <input type="text" name="firstname" placeholder="Ej. José"
                            class="button4 <% locals.errors && errors.firstname ? 'is invalid' : null %>"
                            value="<%= locals.oldData ? oldData.firstname : null %>"
                            <% if(locals.errors && errors.firstname) { %>
                                <div class= 'aviso-error'>
                                <%=  errors.firstname.msg %>
                                </div>
                              <% } %>
                        <br>
                        <br>
                        <input type="text" name="lastname" placeholder="Ej. Pepin"
                            class="button4 <% locals.errors && errors.lasttname ? 'is invalid' : null %>"
                            value="<%= locals.oldData ? oldData.lasttname : null %>"
                            <% if(locals.errors && errors.lastname) { %>
                                <div class= 'aviso-error'>
                                <%=  errors.lastname.msg %>
                                </div>
                              <% } %>
                        <br>
                        <br>
                        <input type="text" name="email" placeholder="Ej. josepepin@hotmail.com" 
                            class="button4 <% locals.errors && errors.email ? 'is invalid' : null %>"
                            value="<%= locals.oldData ? oldData.email : null %>"
                            <% if(locals.errors && errors.email) { %>
                                <div class= 'aviso-error'>
                                <%=  errors.email.msg %>
                                </div>
                              <% } %>
                        <br>
                        <br>
                        <input type="number" name="phone" placeholder="Ej. 1155550000" 
                            class="button4 <% locals.errors && errors.phone ? 'is invalid' : null %>"
                            value="<%= locals.oldData ? oldData.phone : null %>"
                            <% if(locals.errors && errors.phone) { %>
                                <div class= 'aviso-error'>
                                <%=  errors.phone.msg %>
                                </div>
                              <% } %>
                        <br>
                        <br>
                        <input type="password" name="password" placeholder="Elegí tu contraseña" 
                        class="button4"
                        <% if(locals.errors && errors.password) { %>
                            <div class= 'aviso-error'>
                            <%=  errors.password.msg %>
                            </div>
                          <% } %>
                        <br>
                        <br>
                        <label class="avatar"><b>Imagen de perfil:</b></label>
                        <input class="avatar" type='file' name='avatar'
                        <% if(locals.errors && errors.avatar) { %>
                            <div class= 'aviso-error'>
                            <%=  errors.avatar.msg %>
                            </div>
                          <% } %>
                        <!-- <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña" class="button4">
                    <br> -->
                        <br>
                        <br>
                        <!-- <input type="submit" value="Enviar" class="button3"> -->
                        <button type="submit" class="button3">ENVIAR</button>
                        <br>
                        <br>
                        <!-- <input type="reset" value="Borrar" class="button3"> -->
                        <br>
                        <br>
                    </form>

                </div>

            </main>




            <!-- Newsletter -->

            <%- include ('../partials/newsletter') %>

                <!-- FOOTER -->

                <%- include ('../partials/footer') %>
    </body>

    </html>